$prefix: bsl-popup;

@mixin PopupEffect() {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
}

:global(.#{$prefix}-fadein) {
  @include PopupEffect();
  opacity: 0;
  animation-play-state: paused;
}

:global(.#{$prefix}-fadeout) {
  @include PopupEffect();
  animation-play-state: paused;
}

:global(.#{$prefix}-fadein) {
  animation-name: rmcPopupPickerFadeIn;
  animation-play-state: running;
}

:global(.#{$prefix}-fadeout) {
  animation-name: rmcPopupPickerFadeOut;
  animation-play-state: running;
}

@keyframes rmcPopupPickerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rmcPopupPickerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:global(.#{$prefix}-enter) {
  transform: translate3d(0, 100%, 0);
}

:global(.#{$prefix}-enter), :global(.#{$prefix}-leave) {
  @include PopupEffect();
  animation-play-state: paused;
}


:global(.#{$prefix}-enter) {
  animation-name: rmcPopupPickerSlideFadeIn;
  animation-play-state: running;
}

:global(.#{$prefix}-leave) {
  animation-name: rmcPopupPickerSlideFadeOut;
  animation-play-state: running;
}

@keyframes rmcPopupPickerSlideFadeIn {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rmcPopupPickerSlideFadeOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
