$prefix: bsl-formitem;

:global(.#{$prefix}) {
  &-prompt {
    width: 20px;
    height: 20px;
    background: #ffe2e2;
    fill: #ff7777;
    border-radius: 50%;
    cursor: pointer;
  }

  &-pormpt-box {
    padding-left: 12px;
  }

  :global(.bsl-input) {
    width: 100%;
  }
}