$prefix: bsl-carousel;

:global(.#{$prefix}) {
  overflow: hidden;
  visibility: hidden;
  position: relative;

  &-wrapper {
    overflow: hidden;
    position: relative;
  };
  &-child {
    float: left;
    width: 100%;
    position: relative;
    transition-property: transform;
  }
}
