$radius-sm: 3px;
$radius-md: 5px;
$toast-fill: rgba(58, 58, 58, 0.9);
$prefix: bsl-toast;

:global(.#{$prefix}) {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;

  @mixin fade-effect() {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  }

  &-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &-nomask {
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &-text {
    min-width: 60px;
    max-width: 200px;
    border-radius: $radius-sm;
    color: #fff;
    background-color: $toast-fill;
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;

    &-label {
      line-height: 1.5;
    }

    &-icon {
      border-radius: $radius-md;
      padding: 15px;
    }

    &-info {
      margin-top: 8px;
    }
  }

  &-fade {
    opacity: 1;
  }

  &-icon {
    margin: 0 auto;
    width: 36px;
    height: 36px;
    fill: #fff;

    &-loading {
      animation: cirle-anim 1s linear infinite;
    }
  }

  @keyframes cirle-anim {
    100% {
      transform: rotate(360deg) translateZ(0);
    }
  }
}
