$prefix: bsl-textarea;

:global(.#{$prefix}) {
  width: 100%;
  line-height: 1.3;
  resize: none;
  color: inherit;
  font-size: inherit;
  padding: inherit;

  &-wrap {
    position: relative;
    min-height: 100px;
  }

  &-hidecode, &::-webkit-input-placeholder {
    font-size: inherit;
    line-height: 1.3;
  }

  &-auto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-hidecode {
    margin: 0;
    width: 100%;
    padding: 0;
    opacity: 0;
    min-height: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;

    &-hidden {
      display: none;
    }
  }

  &-wordcount {
    position: absolute;
    bottom: rem(30);
    right: rem(30);
    font-size: 14px;
    color: #999999;
  }
}