@import '../../Mobile/common.scss';

$prefix: bsl-modal;

:global(.#{$prefix}) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #fff;
  border-radius: 5px;
  width: 280px;
  height: auto;
  padding-top: 18px;

  &-title {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    padding: 10px 0 18px;
    text-align: center;
  }

  &-body {
    padding: 0 18px 18px;
    font-size: 14px;
    color: #999;
    text-align: center;
  }

  &-footer {
    @include border(#d2d3d5, top);
    display: flex;
    position: relative;
    padding: 13px 0;

    &-dismiss, &-ok, &-button {
      flex: 1;
      text-align: center;
      font-size: 18px;
    }

    &-dismiss {
      color: #e94f4f;
    }

    &-sep {
      @include border(#d2d3d5, left);
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &-ok, &-button {
      color: #09bb07;
    }
  }
}