$prefix: bsl-radio;

:global(.#{$prefix}) {
  display: flex;
  align-content: center;

  &-unselect, &-select {
    width: 19px;
    height: 19px;
  }
  
  &-unselect {
    border: 1px solid #aeaeae;
    border-radius: 50%;
  }
  
  &-text {
    font-size: 14px;
    color: #000;
    margin-left: 10px;
  }
}
