:global(.bsl_component) {
  &[data-placeholder=true] {
    color: #b2b2b2;
  }

  &[disabled=true], &[data-disabled=true] {
    color: #dddddd;
    pointer-events: none;
    cursor: not-allowed !important;
    user-select: none;
  }
  
  &[data-state=fail] {
    color: #ff0000;
  }

  &[data-hide=true], &_hide {
    display: none;
  }
}

:global(.bsl-formitem) {
  :global(.bsl-input) {
    width: 100%;
  }
}

:global(.bsl-textarea) {
  ::-webkit-input-placeholder {
    font-size: inherit;
    line-height: 1.3;
  }
}